.site-header {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  .header-top-container {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    .header-top-content {
      max-width: 1000px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .header-top-items {
        display: flex;
        gap: 10px;
        align-items: center;
        p {
          font-size: 12px;
        }
      }
    }
  }
  .header-bottom-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 18px 10px;
    justify-content: center;
    position: relative;
    min-height: 87px;

    .header-bottom-content {
      display: flex;
      max-width: 1440px;
      width: 100%;
      justify-content: space-between;
      .header-bottom-left {
        display: flex;
        gap: 100px;
        align-items: center;
        i {
          font-size: 25px;
          cursor: pointer;
          display: none;
        }
        .logo-box {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          b {
            color: #000;
            font-family: var(--secondary-font);
            font-size: 18px;
            font-weight: 700;
          }
        }
        .header-navigation {
          display: flex;
          gap: 50px;
          align-items: center;
          position: relative;
          .nav-item {
            position: relative;
            &::after {
              content: "" !important;
              position: absolute;
              top: 25px;
              left: 0;
              width: 0;
              height: 2.5px;
              transition: 0.4s;
              background-color: gray;
              border-radius: 20px;
              opacity: 0;
            }
            &:hover::after {
              width: 100%;
              opacity: 1;
            }
            a {
              font-size: 18px;
              font-weight: 400;
              color: black;
            }
          }
        }
      }
      .header-bottom-right {
        display: flex;
        gap: 50px;
        align-items: center;
        .search-language-block {
          display: flex;
          align-items: center;
          gap: 20px;
          .header-search-box {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            i {
              font-size: 25px;
            }
          }
          .header-language-selection {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            position: relative;
            .language-box {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 25px;
                height: 25px;
              }
              i {
                font-weight: 600;
              }
            }
            .language-dropdown {
              display: flex;
              flex-direction: column;
              position: absolute;
              left: 0;
              top: 66px;
              box-shadow: 0 0 5px gray;
              padding: 10px;
              gap: 5px;
              background-color: white;
              transform-origin: top;
              transition: 0.3s ease;
              transform: scaleY(0);
              pointer-events: none;
              .language-dropdown-item {
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }
        .log-in-block {
          display: flex;
        }
      }
    }
    .mobile-menu-container {
      display: flex;
      width: 105%;
      height: 100vh;
      background-color: #ececee;
      position: fixed;
      top: 80px;
      transition: 0.3s ease;
      transform-origin: left;
      transform: scaleX(0);
      pointer-events: none;
    }
  }
}
.header-fixed {
  position: fixed !important;
  background-color: rgba(255, 255, 255, 0.547);
  transition: 1s;
}
.header-top-container-disabled {
  display: none !important;
}
.language-active {
  pointer-events: auto !important;
  transform: scaleY(1) !important;
}
.mobile-menu-container-active {
  transform: scaleX(1) !important;
  pointer-events: auto !important;
}

// HEADER ADAPTIVE STYLES
@media screen and (max-width: 1200px) {
  .site-header {
    .header-bottom-container {
      .header-bottom-content {
        .header-bottom-left {
          .header-navigation {
            gap: 30px;
          }
        }
        .header-bottom-right {
          gap: 10px;
          .search-language-block {
            gap: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .site-header {
    .header-bottom-container {
      .header-bottom-content {
        .header-bottom-left {
          gap: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .header-search-box i {
    display: none;
  }
  .site-header {
    .header-top-container {
      display: none;
      position: fixed;
      top: 80px;
      z-index: 999;
    }
    .header-top-container-active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header-bottom-container {
      .header-bottom-content {
        justify-content: center;
        .header-bottom-left {
          gap: 20px;
          i {
            display: block;
          }
          .header-navigation {
            width: 100%;
            display: none;
            position: fixed;
            top: 150px;
            left: 0;
            z-index: 999;
            transition: 1s;
          }
          .activenavigation{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        .header-bottom-right {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .site-header {
    .header-bottom-container {
      .header-bottom-content {
        .header-bottom-right {
          .log-in-block {
            flex-direction: column;
            gap: 5px;
          }
        }
      }
    }
  }
  .language-dropdown {
    top: 82px!important;
  }
}
